@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div>
        My Name is @ViewData["Name"] and my ID is @ViewData["ID"]
        
    </div>
</body>
</html>
